@import '@/assets/default';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.parchment{
  border-radius: 20px;
  background: url("@/assets/parchment.jpg") center no-repeat;
  background-size: cover;
  padding: 25px;
  width: fit-content;
}