@import '@/assets/default';

#app {
  font-family: NotoMain, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  scroll-behavior: smooth;
}

@font-face {
  font-family: NotoMain;
  src: url("@/assets/NotoSerif-Regular.ttf");
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.parchment{
  border-radius: 20px;
  background: url("@/assets/parchment.jpg") center no-repeat;
  background-size: cover;
  padding: 25px;
  width: fit-content;
}
